body{
    text-align: center;
}

.line{
    width: 85px;
    height: 3px;
    background-color:black;
    margin:auto;
}

#Games img{
margin: 20px;
border-radius:10px;
width: 300px;
height: 280px;
}

#Apps iframe{
    margin: 20px;
}

#Apps{
    background-color: lightcoral;
}

#Games{
    background-color: lightsalmon;
}

#Chatbots{
    background-color:lightskyblue;
}